body{
  background-color: #190707;
}
.texte{
  color: #FFFFFF;
}
a.noir:hover{
  background-color:#FFFFFF;
}
a.rouge:hover{
  background-color:#FFFFFF;
}
h6{
  margin-top:20px;
  color:white;
}
.video{
  margin-top: 20px;
  width:100%;
}
.logo1-2{
  margin-top:30px;
  margin-bottom:30px;
  width:150px;;
}
.perf{
  margin-top: 20px;
}
hr{
  background-color: white;
  width:600px;
}
.jr{
  margin-top:55px;
  width:300px;
}
.lienicone{
background-color: #190707;
border: none;
}
a:link{
  text-decoration: none;
}
.logorond{
  margin-top:20px;
  margin-bottom:20px;
  width:150px;
}
.presentationtxt{
  color:white;
  margin-top:60px;
  text-align: justify;
}
.btn1{
  height:50px;
  color:white;
  border-right:1px solid white;
  background-color: #190707;
  margin-top:35px;
}
.btn2{
  height:50px;
  color:white;
  background-color: #190707;
    margin-top:35px;
}
.ExemplePodcast{
  width:200px;
  margin-bottom:40px;
}
.icones{
  width:40px;
  margin-top:50px;
  margin-left:5px;
  margin-bottom:40px;
}
h1{
  color:white;
  text-shadow: 0.1em 0.1em #FF0000;
  margin-top: 10px;
  font-size: 30px;
}
.rouge{
  background-color: #FF0000;
  color: white;
}
.noir{
  background-color: #190707;
  color:white;
}
.btnpodcasts{
  margin-top:10px;
  margin-bottom:20px;

}
.vertical-menu {
  margin-top:20px;
  width: 200px; /* Set a width if you like */
}
.vertical-menu a {
   /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none;
}
.vertical-menu a:hover {
  text-decoration: none;
}
.Podcasts{
  margin-top:20px;
}
.btncouleur{
  background-color: #E1E1E1;
    border: none;
}
.piedpage{
  margin-top:30px;
  text-align: right;
}
.contact{
margin-top:20px;
}
